<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="Oracle WebLogic Server" />
        <meta name="keywords" content="Oracle WebLogic Server" />
        <title>Basic REST App</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row-fluid">
                <!-- header -->
                <div>
                    <h2>Welcome to the Angular Resty Bank</h2>
                    <p class="lead">This project shows a basic example of a web application working with REST and Angular JS to simulate some functionality of a bank system.</p>

                    <!-- Angular Away -->
                    <div class="well">


                        <div class="form" ng-app="" ng-controller="personController">
                            <legend>Angulared and Awesome</legend>
                            <label>First Name</label>
                            <input type="text" ng-model="firstName">
                            <label>Last Name</label>
                            <input type="text" ng-model="lastName">
                            <label>Full Name</label>
                            {{firstName}} {{lastName| uppercase }}
                        </div>

                        <div ng-app="" ng-controller="customersController">
                            {{names}}
                        </div>
                        <script>
                            function personController($scope) {
                                $scope.firstName = "John"
                                $scope.lastName = "Doe"
                            }

                            function customersController($scope, $http) {
                                $http.get("http://127.0.0.1/basicRestapp/rest/account/Jack")
                                        .success(function (response) {
                                            alert(response);
                                            $scope.names = response;
                                        })
                                        .error(function () {
                                            alert('fuck');
                                        });
                                    }
                        </script>                 
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <!-- body -->
                <div class="well">
                    <form class="form">
                        <legend>Please Enter Your Account Name and Amount</legend>
                        <label>Account Name</label>

                        <input type="text" id="name" size="20" placeholder="Name"/>
                        <label>Amount</label>
                        <input type="text" id="amount" size="10"/>
                        <br/>
                        <div class="form-actions">                        
                            <span><input type="button" value="Deposit" class="btn btn-success" /></span>                      
                            <span><input type="button" value="Reset" class="btn btn-danger"/></span>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row-fluid">
                <!-- footer -->
            </div>

        </div>

    </body>
</html>





